*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;   
}
/* using this method for the background is better since it's more clear ,direct and it's eaiser for other developer to understand the code in this way. */
body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    background-image: linear-gradient(rgba(53, 47, 51, 0.5),rgba(180, 178, 174, 0.6)),url(5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*===========================================================================*/
/* style the toolbar */
.toolbar{
    background-color: rgb(255, 255, 255,0.7);

    width: 100%;
    height: 10%;

    position: fixed;
    top: 0px; /*it's ten since the height of the box is 80% of the whole page which leave 20% for top and bottom*/
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1;


}

/*=============================================================================*/
/* style the title box(div) */
.toolbar div.title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 5%;
}

.toolbar .title img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    margin-right: 10px;
}


/*=============================================================================*/
/* style the toolbar options */
/* About Us   , Contact Us  , Log in/ Sign in */


.toolbar ul{
    list-style-type: none;
}

.toolbar ul li{
    display: inline-block;
    padding-right: 50px;
}

.toolbar ul li a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 110%;
}

.toolbar ul li a:hover{
    color: rgb(35, 89, 176);
    transition: 0.2s;
}

/* ======================================================================================== */
/* style the invesible box(div) that we manage how to keep the content (dishes div) in the center of the webpage */
.cover{
    /* background-color: rgb(124, 31, 31); */
    width: 100%;
    height: 90%;
    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}
/* ========================================================================================= */
/*---------------- Adjust the space between the edge of the page and the box beside it ------------------*/

.dishes {
    width: 1140px;
    /* background-color: rgb(0, 0, 255,0.5); */
    display: flex;
    justify-content: flex-start; /* Align items starting from the left */
    flex-wrap: wrap; /* allows flex items to wrap onto multiple lines within the flex container if they exceed the container's width, rather than overflowing or being cut off.*/
    position: absolute;
    top: 510px;
    left: 50%;
    transform: translate(-50%,-50%);

    margin-top: 15px;
}

/*=========================================================================*/
/* style the dish box */

.dishes > div { /*  the `>` sign is called the "child combinator." It is used to select direct child elements of a particular parent element , we can write this line like this or like usual .dishes div{}*/
    /* width: calc(33% - 70px); The width of each item is calculated to be 25% of the container width minus the desired margin space (20px in this case, 10px for each side). */
    width: 250px;
    height: 240px;

    font-weight: bold;
    background-color: rgba(244, 238, 238,0.8);
    border-radius: 40px;
    
    margin: 63px; /* Set fixed margin around each item */

    text-align: center;
    padding-top: 10px;

    
}

/* ===================================================================================== */
/* style the dish name */

.dishes div a{
    text-decoration: none;
    padding: 5px;
    color: rgb(72, 72, 72);
    font-size: 25px;
}
.dishes div a:hover{
    color: rgb(147, 53, 6);
    transition: 0.3s;
}
/*--------------------------------------------------------------------------------*/


/* edit the image of the dish for the boxes */
img.dishpic {
    width:100%;
    height: 90%;
    border-radius: 40px;

    display: flex;
    margin-top: 6px;
    margin-bottom: 0px;

}